/*
FONTS CSS
*/

@font-face {
  font-family: heeboThin;
  src: url(fonts/Heebo/Heebo-Thin.ttf);
}

@font-face {
  font-family: heeboLight;
  src: url(fonts/Heebo/Heebo-Light.ttf);
}

@font-face {
  font-family: heeboRegular;
  src: url(fonts/Heebo/Heebo-Regular.ttf);
}

@font-face {
  font-family: heeboMedium;
  src: url(fonts/Heebo/Heebo-Medium.ttf);
}

@font-face {
  font-family: heeboBold;
  src: url(fonts/Heebo/Heebo-Bold.ttf);
}

@font-face {
  font-family: heeboExtraBold;
  src: url(fonts/Heebo/Heebo-ExtraBold.ttf);
}

@font-face {
  font-family: heeboBlack;
  src: url(fonts/Heebo/Heebo-Black.ttf);
}